/* Add a black background color to the top navigation */
.topnav{
    background-color: #000000;
    overflow: hidden;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50%;
   
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #eef123;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon{
    display: none;
  }
 
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color:white;
     font-size: large;
  }
  body{
    background-color: #000000;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: rgb(0, 0, 0);
    color:rgb(201, 240, 28);
  }
  

  .fa-instagram {
    background: black;
    color:rgb(201, 240, 28);
  }
  .navbar {
    width: 100%;
    background-color:black;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: center;
    text-align: center;
    padding: 12px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /* Current/active navbar link */
  .navbar a:hover{
    color: #6d660b;
  
  }
  .active1,.active{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: center;
      display: block;
    }
  }
  
 
  header{
    background-color: #000000;
  }
  .slider {
    width: 500%;
    height: 510px;
    position:relative;
    
   
   
  }
 .w3-center{
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: inherit;
 }
 .w3-center:hover{
  color: #444003;
 }

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

  footer {
    padding: 40px 0;
    color: white;
    background: black;
    
  }
  footer a:hover{
    color: #444003;
  }
  
  footer li {
    float: left;
    padding: 0 10px;
    list-style: none;
  }
  
  footer a {
    color: white;
  }
  
  footer p {
    float: right;
  }
  footer p:hover{
    color: #444003;
  }

 .history{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff59ce8;
  text-shadow: #eef123;
  text-decoration-color: #444003;
  
 }
